@font-face {
  font-family: 'Apercu';
  src: url('../apercu.otf');
}

@font-face {
  font-family: 'Ribes';
  src: url('../Ribes-Black.woff');
}

body {
  cursor: url(../cursor.cur), auto;
  margin: 0px;
  background-color: #f7a69b;
  font-family: Apercu;
  color: #e5352c;
  font-size: 14px;
  line-height: 1.5em;
}

body a:hover {
  cursor: url(../cursor.cur), auto;
}

h1 {
  font-family: Ribes;
  font-size: 62px;
  line-height: 1em;
  padding: 0px;
  margin: 0px;
}

h1 a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .75s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='white' stroke-width='0.75' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;
  color: #fff;
}

h2 {
  font-family: Ribes;
  font-size: 92px;
  line-height: 1em;
  padding: 0px;
  margin: 0px;
}

h3 {
  font-family: Ribes;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}

p {
  font-family: Apercu;
  color: #fff;
  font-size: 14px;
}

mark {
  background-color: #fff;
  color:#f7a69b;
}

a:link, a:visited {
  text-decoration: none;
  color:#fff;
}

a:hover {
  color:#f7a69b;
}

#outer-grid {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 4.5fr 0.5fr;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  grid-auto-flow: column;
}
#outer-grid > div {
  background-color: #f7a69b;
  color: white;
  padding: 0px;
}
#inner-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}
#inner-grid > div {
  background: salmon;
  padding: 10px;
}
#adopt, 
#contact, 
#about, 
#volunteer {
  display: grid;
  grid-template-columns: 4fr 10fr;
  grid-gap: 15px;
}
#home {
  display: grid;
  grid-template-columns: 1fr;
}
#adopt > div, 
#contact > div, 
#about > div, 
#volunteer > div, 
#home > div {
  background: #f7a69b;
  padding: 40px;
}
#nav {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-gap: 0px;
}
#nav > div {
  background: salmon;
  padding: 25px;
}

.scaled {
  width:50%;
}

.fa {
  padding: 5px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
}

.fa-facebook {
  background: rgb(255, 255, 255, 0);
  color: white;
}

.fa-instagram {
  background: rgb(255, 255, 255, 0);
  color: white;
}

.fa-twitter {
  background: rgb(255, 255, 255, 0);
  color: white;
}

section:not(:target):not(#home),
section:target ~ #home {
    display: none
}