.slider {
	width: 60vw;
	margin-top: 20px;
	margin-left:30px;
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: rgba(255, 255, 255, 0);
}

img { width: 100%; }

.slide-content {
	display: grid;
	grid-template-columns;
}

.slide-content .text-content {
	margin-left: 20px;
	margin-right: 20px;}

	.slide-content img {width: 100%;}

	.slick-initialized .slick-slide {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
